@{
    ViewData["Title"] = " Create ";
}

@model Contactsbook.Models.Contact


<div class="text-center">
    <h1 class="display-4">Create a contact </h1>
</div>

<form asp-action="CreateContactsForm" asp-controller="Home">
   
    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id" />

<label>FirstName </label>
    <input class="form-control" type="text" placeholder="Enter your first name" asp-for="FirstName" />

<label>LastName </label>
    <input class="form-control" type="text" placeholder="Enter your last name" asp-for="LastName" />

<label>Email </label>
    <input class="form-control" type="text" placeholder="Enter your email" asp-for="Email" />

<label>PhoneNumber </label>
    <input class="form-control" type="number" placeholder="Enter your phone number" asp-for="PhoneNumber" />

 <label>Adress </label>
    <input class="form-control" type="text" placeholder="Enter your adress" asp-for="Adress" />

    <button class="btn btn-primary mt-4" type="submit"> Save </button>

</form>
