@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a  asp-action ="Contacts" class="btn btn-outline-primary" > Overview </a>
    <a  asp-action ="CreateContacts" class="btn btn-outline-secondary"> Create new </a>

</div> 
